*, :before, :after{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    width: 400px;
    height: 400px;
}

.click{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store{
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.store1, .store2, .store3{
    width: 20%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    
}

.store1 button, .store2 button, .store3 button{
    width: 60%;
    height: 25%;
    font-size: 16px;
    background-color: white;
    border: transparent;
    box-shadow: 3px 3px 3px 3px gray;
}

h3{
    font-size: 30px;
}

.store1{
    background-color: white;
}

.store2{
    background-color: rgb(224, 141, 155);
}

.store3{
    background-color: rgb(138, 44, 44);
}