*, :before, :after{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: column;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    width: 300px;
    height: 300px;
}

.click{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.store{
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 5vw;
    align-items: center;
}

.store1, .store2, .store3{
    width: 200px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
    border-radius: 10px;
    
}

.store1 button, .store2 button, .store3 button{
    width: 60%;
    height: 25%;
    font-size: 16px;
    background-color: rgb(185, 76, 95);
    border: transparent;
    color: aliceblue;
    border-radius: 5px;
}

h3{
    font-size: 30px;
}

.store2, .store1, .store3{
    background-color: white;
}

#reset{
    width: 150px;
    height: 150px;
    margin-bottom: 5vh;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-size: 20px;
}

#reset:hover{
    background-color: pink;
}

.store1 button:hover, .store2 button:hover, .store3 button:hover{
    background-color: pink;
}

